*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.container{
    max-width: 1400px;
    padding:0px 20px;
    margin: 0 auto;
}

/* HEADER CSS START */

.header{
    background-image: url(../img/the-town-bg-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
}

.header .navigationBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 35px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:linear-gradient(10deg , #F2AD8C ,#F5B188 ,#E29881 100% ,#E29881);
    z-index: 999;
}

.headerLink{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-transform:capitalize;
}

.navbar{
    margin: 0;
    padding: 0;
}

.navbar .list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list .item{
    margin-left: 24px;
    padding: 0;
}

.list .item .item__link{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform:capitalize;
}

.headerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
}

.headerCenter-heading{
    font-size: 45px;
    text-transform: capitalize;
    text-shadow: 6px 6px 10px #080808;
    margin: 0;
    padding: 0;
}

.headerCenter-desc{
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 40px;
}

#span{
    width: 65px;
    height: 65px;
    background-color: #fff;
    margin-top: 190px;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
}

.bi-play{
    font-size:50px;
    color: #dc8267;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* HEADER CSS END */

/* MAIN CSS START */
.main{
    padding-top: 80px;
    margin: 0;
}

.introduction .introduction__intro{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.introduction__intro img{
    display: inline-block;
    text-align: center;
    margin-left: 60px;
    object-fit: cover;
}

.introduction__left{
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction__left-heading{
    font-size: 30px;
    line-height: 80px;
    text-transform: capitalize;
    color: rgb(0, 136, 255);
}

.introduction__left-desc{
   opacity: 0.6;
   font-size: 18px;
   line-height: 30px;
}

.introduction__left-desc .temp{
    opacity: 1;
    color: rgb(0, 136, 255);
}

.introduction__left-btn{
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(0, 128, 255);
    color: #fff;
    padding: 10px 15px;
    margin-top: 50px;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 18px;
}

.ulBox{
    margin: 0;
    padding-top: 120px;
}

.intro__list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px 30px;
    flex-wrap: wrap;
}

.intro__item{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.intro__item-span i{
   color: rgb(0, 166, 255);
   font-size: 58px;
}

.intro__heading{
    color: rgb(0, 166, 255);
    font-size: 20px;
    line-height: 50px;
    margin-top: 35px;
    padding: 0;
}

.intro__desc{
    opacity: 0.7;
    font-size: 14px;
    line-height: 30px;
    margin-top: 25px;
}

.ourwork{
    padding-top: 130px;
    margin: 0 auto;
}

.ourwork__section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ourwork__top{
    text-align: center;
}

.ourwork__top-heading{
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(0, 166, 255);
}

.ourwork__top-desc{
    opacity: 0.6;
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
}

.ourwork__gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top:70px;
    flex-wrap: wrap;
}

.ourwork__gallery img:nth-child(odd){
    margin-left: 25px;
}

.ourwork__gallery img:nth-child(even){
    margin-left: 25px;
}
#ourwork__spanBox{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.ourwork__gallery-span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:rgb(0, 166, 255);
    display: block;
}

.ourwork__gallery-span:nth-child(2){
    margin:0px 20px 0px 20px;
    background-color: #cdcdcd;
}

.ourwork__gallery-span:nth-child(3){
    background-color: #cdcdcd;
}

.contactus{
    padding-top: 80px;
}

.contactus__section{
    background-image: url(../img/the-town-bg-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
}

.contactus__section-top{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 0px 0px 120px;
}

.contact__us{
    display: flex;
    flex-direction: column;
}

.contact__us-heading{
    text-transform: capitalize;
    font-size: 40px;
    line-height: 50px;
    border-bottom: 2px solid #fff;
    display:block;
    color: #fff;
}

.contac__us-desc{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin-top: 25px;
}

.contact__us-mobile{
    display: flex;
    padding-top: 40px;
}

.contact-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__us-mobile-span .fa-phone-flip{
   font-size: 40px;
   color: #fff;
   margin-right: 20px;
}

.contact__us-mobile-desc{
    color: #fff;
    font-size:15px;
}

.contact-email{
    display: flex;
    align-items: center;
    margin-left: 234px;
}

.fa-envelope ,.bi-geo-alt{
    font-size: 40px;
    color: #fff;
    margin-right: 20px;
}

.contact__us-email-desc,.contact-maps-desc{
    color: #fff;
    font-size:15px;
}

.contact-us__maps{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.contact-maps{
    display: flex;
    align-items: center;
}


.contact-user{
    margin-left: 210px;
}

.contact-user .contact-form{
   margin: 0;
   padding: 0;
}

.contact-user-input{
    width: 200px;
    height: 40px;
    background: none;
    border: 2px solid rgb(157, 157, 157);
    outline: none;
    border-radius: 5px;
    padding: 3px 13px;
    margin-right: 5px;
}

.contact-user-input::placeholder{
   color: #fff;
}

.contact-user-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}











/* MAIN CSS END */